/*-- Nav Scrolling Offset --*/
.offset:before {
    height: 4rem;
    margin-top: -4rem;
    content: "";
    display: block;
}
/* ========= Customer Page ========= */
.customer-content-background {
    background: #ecf0f1;
}
